@import 'tailwindcss';

a.active hr {
    display:block;
}


a.active > .bb{
    font-weight: bold;
    background-color: gray;
    color: white;
    width: 300px;
    border-radius: 8px;
    padding: 0.5rem 0;
    text-align: center;
}

.discountPrice{
    text-decoration: line-through;
}